* {
  font-family: "Comic Snas MS";
}


h2{
    border: 2px solid black;
    text-align: center;
    font-size: 150%
}

h1 {
    text-align: center;
    font-size: 300%;
    border-radius: 10px;
    border: 2px solid red;
    color: darkblue;
}
a {
	display: block
}
form button {
	
	background: cyan;
	display: block;
	text-align: center
	
}